integrations/n8n-nodes-codetether/workflows/create-and-poll.json
{
    "name": "CodeTether – Create Task and Poll for Result",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hours",
                            "hoursInterval": 1
                        }
                    ]
                }
            },
            "id": "schedule-trigger",
            "name": "Schedule Trigger",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.2,
            "position": [
                0,
                0
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{$credentials.domain}}/v1/automation/tasks",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "title",
                            "value": "Scheduled analysis"
                        },
                        {
                            "name": "description",
                            "value": "Analyze the latest data and produce a summary report."
                        },
                        {
                            "name": "agent_type",
                            "value": "general"
                        },
                        {
                            "name": "model",
                            "value": "claude-sonnet-4"
                        }
                    ]
                }
            },
            "id": "create-task",
            "name": "Create Task",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                220,
                0
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "",
                    "name": "CodeTether API Key"
                }
            }
        },
        {
            "parameters": {
                "amount": 15,
                "unit": "seconds"
            },
            "id": "wait-node",
            "name": "Wait 15s",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1.1,
            "position": [
                440,
                0
            ]
        },
        {
            "parameters": {
                "method": "GET",
                "url": "={{$credentials.domain}}/v1/automation/tasks/{{ $('Create Task').item.json.task_id }}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth"
            },
            "id": "poll-status",
            "name": "Check Status",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                660,
                0
            ],
            "credentials": {
                "httpHeaderAuth": {
                    "id": "",
                    "name": "CodeTether API Key"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true
                    },
                    "conditions": [
                        {
                            "id": "status-check",
                            "leftValue": "={{ $json.status }}",
                            "rightValue": "completed",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "or"
                }
            },
            "id": "if-complete",
            "name": "Is Complete?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                880,
                0
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "result",
                            "name": "result",
                            "value": "={{ $json.result_summary }}",
                            "type": "string"
                        },
                        {
                            "id": "task_id",
                            "name": "task_id",
                            "value": "={{ $json.task_id }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "process-result",
            "name": "Process Result",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1100,
                -100
            ]
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Create Task",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Create Task": {
            "main": [
                [
                    {
                        "node": "Wait 15s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Wait 15s": {
            "main": [
                [
                    {
                        "node": "Check Status",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Status": {
            "main": [
                [
                    {
                        "node": "Is Complete?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Complete?": {
            "main": [
                [
                    {
                        "node": "Process Result",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Wait 15s",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "CodeTether"
        },
        {
            "name": "AI Automation"
        }
    ]
}
