integrations/n8n-nodes-codetether/workflows/webhook-callback.json
{
    "name": "CodeTether – Webhook Callback Pattern",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "codetether-callback",
                "responseMode": "onReceived",
                "responseCode": 200
            },
            "id": "webhook-trigger",
            "name": "CodeTether Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                0
            ],
            "webhookId": "codetether-callback"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true
                    },
                    "conditions": [
                        {
                            "id": "event-check",
                            "leftValue": "={{ $json.body.status }}",
                            "rightValue": "completed",
                            "operator": {
                                "type": "string",
                                "operation": "equals"
                            }
                        }
                    ]
                }
            },
            "id": "if-success",
            "name": "Success?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                220,
                0
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "result",
                            "name": "result",
                            "value": "={{ $json.body.result }}",
                            "type": "string"
                        },
                        {
                            "id": "task_id",
                            "name": "task_id",
                            "value": "={{ $json.body.task_id }}",
                            "type": "string"
                        },
                        {
                            "id": "run_id",
                            "name": "run_id",
                            "value": "={{ $json.body.run_id }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "extract-result",
            "name": "Extract Result",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                440,
                -100
            ]
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "error",
                            "name": "error",
                            "value": "={{ $json.body.error }}",
                            "type": "string"
                        },
                        {
                            "id": "task_id",
                            "name": "task_id",
                            "value": "={{ $json.body.task_id }}",
                            "type": "string"
                        }
                    ]
                }
            },
            "id": "handle-failure",
            "name": "Handle Failure",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                440,
                100
            ]
        }
    ],
    "connections": {
        "CodeTether Webhook": {
            "main": [
                [
                    {
                        "node": "Success?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Success?": {
            "main": [
                [
                    {
                        "node": "Extract Result",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Handle Failure",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "CodeTether"
        },
        {
            "name": "AI Automation"
        },
        {
            "name": "Webhook"
        }
    ]
}
